// ===== VARIABLES =====
$nodeSize: 100px;
$radius: 100%;
$plusButtonSize: 50px;
$transition-distance: calc($nodeSize / 1.2);
$hover-shift: $nodeSize - $transition-distance;
$subNode-Transition: transform 0.5s ease;;
$hover-transition: transform 0.3s ease;


// ===== MIXINS =====
@mixin subNodeDirection($direction) {
    @if $direction == "up" {
        transform: translate(-50%, -$transition-distance);

        &:hover {
            transform: translate(-50%, -$transition-distance - $hover-shift);
        }
    }
    @else if $direction == "right" {
        transform: translate(calc($transition-distance - $plusButtonSize), -50%);
            
        &:hover {
            transform: translate(calc($transition-distance - $plusButtonSize) + $hover-shift, -50%);
        }
    }
    @else if $direction == "down" {
        transform: translate(-50%, calc($transition-distance - $plusButtonSize));
            
        &:hover {
            transform: translate(-50%, calc($transition-distance - $plusButtonSize) + $hover-shift);
        }
    }
    @else if $direction == "left" {
        transform: translate(-$transition-distance, -50%);
            
        &:hover {
            transform: translate(-$transition-distance - $hover-shift, -50%);
        }
    }
}

@mixin subNodeTransition {
    transition: $subNode-Transition;

    &:hover {
        transition: $hover-transition;
    }
}

@mixin text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    letter-spacing: 1px;
}


// ===== STYLES =====
.Node {
    position: absolute;
    user-select: none;
    border-radius: $radius;
    z-index: 100;
    @include text();

    &:hover {
        
    }

    &--dragging {
        box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01),
        0px 15px 15px 0 rgba(34, 33, 81, 0.25);
        transition: box-shadow 300ms ease;
    }

    &--clicked {
        
    }

    .Canvas--addingEdge &__addEdgeOverlay {
        display: inline-block;
        position: absolute;
        border-radius: $radius;
        height: $nodeSize;
        width: $nodeSize;
        cursor: pointer;
        z-index: 1000;
    }

    &__content {
        width: $nodeSize;
        height: $nodeSize;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: solid 1px black;
        border-radius: $radius;
        border-width: 3px;
        cursor: pointer;
        z-index: 10;
        box-sizing: border-box;
        @include text();
    }

    &__renameInput {
        width: $nodeSize;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 100;
        @include text();

        &:focus-visible {
            outline: none;
        }
    }

    &__settingBtn {
        $position: calc($nodeSize / 2);
        
        position: absolute;
        left: $position;
        top: $position;
        display: flex;
        align-items: center;
        justify-content: center;
        
        line-height: 0px;
        height: $plusButtonSize;
        width: $plusButtonSize;
        border: solid black 1px;
        border-radius: 100%;
        background-color: white;
        transform: translate(-50%, -50%);
        transition: $subNode-Transition;
        box-sizing: border-box;
        cursor: pointer;    
        z-index: 0;

        &:hover {
            background-color: rgb(231, 231, 231);
            border: solid 2px;
        }
    }

    &--clicked &__settingBtn {
        @include subNodeTransition();

        &--1 {
            @include subNodeDirection("up")
        }

        &--2 {
            @include subNodeDirection("right")
        }

        &--3 {
            @include subNodeDirection("down")
        }

        &--4 {
            @include subNodeDirection("left")
        }
    }  

    &--settings &__settingBtn {
        @include subNodeTransition();

        &--5 {
            @include subNodeDirection("up")
        }

        &--6 {
            @include subNodeDirection("right")
        }

        &--7 {
            @include subNodeDirection("down")
        }

        &--8 {
            @include subNodeDirection("left")
        }
    }

    &--confirmation &__settingBtn {
        @include subNodeTransition();

        &--confirm {
            @include subNodeDirection("right")
        }

        &--cancel {
            @include subNodeDirection("left")
        }
    }

    .Canvas--addingEdge &--addingEdge &__settingBtn--cancel {
        @include subNodeDirection("down")
    }
}