.Arrow {

    &__label {
        width: max-content;
        height: inherit;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translate(-50%, -50%);
        line-height: 1;
        z-index: 1000;

        background-color: white;
    }

    &__input {
        position: relative;
        font-size: inherit;
        font-family: inherit;
        text-align: center;
        border: none;
    }
}