.Toolbar {
  height: var(--bar-height);
  display: flex;
  align-items: center;
  border: solid black 1px;
  color: var(--dark-blue);
  font-size: 18px;
  letter-spacing: 1px;
  z-index: 1;

  &__label {
  }

  &__checkbox {
  }
}

#Toolbar__stringInput {
  margin: 0 5px;
}

.ToolbarButton {
  height: var(--bar-height);
  line-height: var(--bar-height);
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.1s ease;

  &:hover {
    // color: var(--dark-blue);
    background-color: var(--light-blue);
  }
}
