#title {
  padding: 0 25px;

  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: var(--bar-height);

  cursor: pointer;
  z-index: 1;
}
