#Canvas {
    height: calc(100vh - var(--bar-height) - 3px);
    display: flex;
    justify-content: center;
    align-items: center;

    // opacity: 0.4;
    background-image: radial-gradient(#000 0.8px, var(--bg-white) 0.8px);
    background-size: 16px 16px;
}

