:root {
  /* === VARIABLES === */
  /* Colors */
  --bg-white: #f6f1f1;
  --bg-blue: #ebeff1;
  --grey: #374548;
  --grey-blue: #afd3e2;
  --cyan: #19a7ce;
  --sky-blue: #5A9EC3;
  --light-blue: #069AE323;
  --dark-blue: #146c94;

  /* Heights */
  --bar-height: 65px;

  /* Fonts */
  --font-families: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  /* === GLOBAL STYLES === */
  background-color: var(--bg-white);

  font-family: var(--font-families);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  /* font-weight: 500;
  color: #646cff;
  text-decoration: inherit; */
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

input[type="text"] {
  /* padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

input[type="text"]:focus-visible {
  outline: none;
}
